mixin hero_layers(layers)
  each layer in layers
    .hero-parallax__layer
      img(src=`source/images/hero_layers/${layer}.png`)

+hero_layers(["layer-0", "layer-6", "layer-5", "layer-4", "layer-3", "layer-8", "layer-9", "layer-2", "layer-1", "layer-7"])